body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #34f8ff;
}

header {
    background-color: #ffffff;
    color: rgb(57, 6, 152);
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

p {
    margin: 10px 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(71, 243, 85);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.project {
    margin-bottom: 20px;
}
